* {
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  margin: 0;
}
html, body { height: 100%;}
body > footer {
  position: sticky;
  top: 100vh;
}
