.cards {
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.cardimage {
  max-width: 100%;
  border-radius: 40px;
  padding: 0.5rem;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  height: 450px;
  max-width: 994px;
  margin-bottom: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 7px 8px 24px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 7px 8px 24px -5px rgba(66, 68, 90, 1);
  box-shadow: 7px 8px 24px -5px rgba(66, 68, 90, 1);
}

.card a {
  color: black;
}

.card-medical {
  background-image: linear-gradient(rgb(236, 187, 255), white);
}

.card-vr {
  background-image: linear-gradient(rgb(189, 206, 255), white);
  flex-direction: row-reverse;
}

.card-kids {
  background-image: linear-gradient(rgb(255, 240, 166), white);
}

.card-dino {
  background-image: linear-gradient(rgb(189, 255, 209), white);
  flex-direction: row-reverse;
}

.card-astronaut {
  background-image: linear-gradient(rgb(189, 255, 239), white);

}

.learn-more {
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline;
}

@media (max-width: 1275px) {
  .cards {
    max-width: 800px;
  }
}

@media (max-width: 1030px) {
  .cards {
    max-width: 700px;
  }
}

@media (max-width: 780px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 630px;
    align-items: center;
    text-align: center;
    max-width: 650px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 767px) {
  .learn-more {
    text-decoration: none;
  }
  .learn-more:hover {
    text-decoration: underline;
  }
  .card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
