.cards {
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.cardimage {
  max-width: 100%;
  border-radius: 40px;
  border-color: black;
  padding: 0.5rem;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  border-color: black;
  padding: 0.5rem;
  height: 472px;
  max-width: 994px;
  margin-bottom: 40px;
  border-radius: 40px;
  border: 1px solid black;
}

.card a {
  color: black;
}
.card-medical .card-vr .card-vr .card-kids .card-dino .card-astronaut img {
  max-width: 60%;
}

.card-medical {
  background-image: linear-gradient(rgb(236, 187, 255), white);
}

.card-vr {
  background-image: linear-gradient(rgb(189, 206, 255), white);
  flex-direction: row-reverse;
}

.card-kids {
  background-image: linear-gradient(rgb(255, 240, 166), white);
}

.card-dino {
  background-image: linear-gradient(rgb(189, 255, 209), white);
  flex-direction: row-reverse;
}

.card-astronaut {
  background-image: linear-gradient(rgb(189, 255, 239), white);
  flex-direction: row-reverse;
}
.learn-more {
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    align-items: center;
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 767px) {
  .learn-more {
    text-decoration: none;
  }
  .card {
  margin-bottom: 100px;
  }
  .learn-more:hover {
    text-decoration: underline;
  }
  .card:hover {
    -webkit-animation: kenburns-top 2s alternate forwards;
    animation: kenburns-top 2s alternate forwards;
  }
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
