footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--footerblue);
}
footer a {
  padding: 0px 6px 0px 6px;
  margin-top: 10px;
}
footer h3 {
  font-size: 20px;
  font-weight: lighter;
  color: white;
}
.social {
  display: flex;
}
.social a {
  color: white;
}
.copyright {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
