.headerlogoimg {
  position: relative;
}
nav,
#menu-checkbox {
  display: none;
}
#menu-checkbox:checked ~ nav {
  display: block;
}
.hamburger-menu {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 20px;
  font-size: 2rem;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav {
  position: absolute;
  justify-content: left;
  top: 5rem;
  width: 100%;
  text-align: center;
  left: 0;
}

nav a {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  background-color: #8ca6a9;
  color: black;
}

nav a:active {
  text-decoration: underline;
  color: black;
}
.active {
  text-decoration: underline;
}
.headerlogoimg {
  padding: 0.5rem;
  
}

@media only screen and (min-device-width: 600px) {
  .navbar {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: right;
    width: 100%;
  }
  .headerlogoimg {
    padding: 1rem;
  }
  .navbar a {
    background-color: white;
    justify-content: right;
    font-size: 2rem;
  }
    nav a:hover {
      text-shadow: 10px 10px 10px #ad3213;
      
    }
  .hamburger-menu {
    display:none
  }
}

@media only screen and (max-device-width: 674px) {
  .card {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .cardimage{
    max-height: 300px;
  }
}

