@import "variables.css";
@import "base.css";
@import "header.css";
@import "footer.css";
@import "visit.css";
@import "cards.css";

.index-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px 10px;
  object-fit: cover;
  max-height: 800px;
}

.welcome,
.slogan {
  text-align: center;
  margin: auto;
}

.welcome {
  font-weight: 400;
  font-size: 40px;
}

.slogan {
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-border {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
}

.text-box {
  margin: auto;
  width: 65%;
}
.text-center {
  text-align: left;
  font-size: 1.1rem;
}
.text-box-header {
  font-size: 3em;
}

.slogan {
  animation: wobble-hor-bottom 0.8s both;
}
.top {
  text-decoration: none;
  padding: 10px;

  color: #fff;
  background: var(--footerblue);
  border-radius: 100px;
}
.to-top {
  display: flex;
  justify-content: center;
  padding: 10px;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@media (max-width: 767px) {
  .text-box {
    margin: auto;
    width: 80%;
  }

  .slogan {
    font-size: 20px;
  }
}
