.welcomesign {
  display: block;
  margin: 0 auto 0 auto;
}

.visit-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1000px;
}

.visit-cards a {
  color: var(--link-blue);
}
.visit-cards a:hover {
  font-weight: bolder;
}

.visit-cards h2 {
  text-align: center;
}

.visit-cards > div {
  padding: 1rem;
  background-color: var(--green);
}

.visit-cards > div:last-child {
  background-color: var(--red);
  align-self: center;
}

td {
  padding-left: 30px;
}

th {
  text-align: left;
}

.icons {
  display: flex;
  justify-content: center;
}

.visit-icons {
  padding: 0 5px 0 5px;
  height: 5rem;
}

.contact-link {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .visit-cards {
    grid-template-columns: 1fr 1fr;
  }

  .visit-cards > div:last-child {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 900px) {
  .visit-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .visit-cards > div:last-child {
    grid-column: 2/3;
  }
}
