* { font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding: 0;
}
.headerlogoimg {
 position: relative;     
}
nav,
#menu-checkbox {
    display: none;
    
    
}
#menu-checkbox:checked ~ nav {
    display: block;
    
}
.hamburger-menu {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 20px;
    font-size: 2rem;
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    position: absolute;
    justify-content: left;
    top: 5rem;
    width: 100%;  
    text-align: center;
    left: 0;
}


nav a {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    background-color:#8CA6A9;
    color: black;
}
nav a:hover {
    font-weight: bold;
}
nav a:active {
    text-decoration: underline;
    color: black;
}
.active {
    text-decoration: underline;
}


.index-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 24px;
}
.welcome,.slogan{
    text-align: center;
    margin: auto;
}
.welcome {
    font-weight: 400;
    font-size: 40px;
}
.slogan {
    font-weight: 100;
    font-size: 25px;
    font-style: italic;
}
img {
    max-width: 100%;
    height: auto;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%; 
}

.cardimage {
    max-width: 100%;
    border-radius: 40px;
    border-color: black;
    padding: 1rem;  
}



.card-medical, .card-vr, .card-kids, .card-dino, .card-astronaut {
    
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    border-color: black;
    padding: 1rem;
    height: 472px;  
    max-width: 994px;
    
    
    
     
}
.card-medical {
    background-image: linear-gradient(rgb(236, 187, 255), white);
}
.card-vr {
    background-image: linear-gradient(rgb(189, 206, 255), white);
}
.card-kids {
    background-image: linear-gradient(rgb(255, 240, 166), white);
}
.card-dino {
    background-image: linear-gradient(rgb(189, 255, 209), white);

}
.card-astronaut {
    background-image: linear-gradient(rgb(189, 255, 239), white);
    
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
address {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visitcards {
    background-color: #E1FFEA;
}
.visitcards h2 {
    font-size: 20px;
}
.visitcards table {
    font-size: 15px;
}
.visitcards p {
    font-size: 15px;
}
.img-border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 40px;
    padding: 10px;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #022179;
}
footer a {
    padding: 0px 6px 0px 6px;
    margin-top: 10px;
}
footer h3 {
    font-size: 20px;
    font-weight: lighter;
    color: white;
}
.social {
    display: flex;
    
}
.social a {
   color: white; 
}
.copyright {
    display: flex;
    justify-content: center;
    font-weight:lighter;
}
.copyright a { 
}


@media (min-width: 600px) {
    
    nav {
     display: flex;
     position: static;
     gap: 2rem;
     padding-left: 30px;
    
      
       
    }
    .headerlogo {
        max-width: 100%;
        position: relative;
        padding-right: 30px;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        max-width: 100%;
        
    
    }
   
    .hamburger-menu {
        display: none;
        
    }
    nav a {
        font-size: 30px;
        display: flex;
        align-items: center; 
        background-color: white
        
        
    }
    .index-photo {
        padding: 0rem 1.5rem 0rem 1.5rem;
    }
}


@media (max-width: 600px) {
    nav a {
     display: block;
     float: none;
     position: static;
     
    }
    
    }
    @media (max-width:600px) {
        navbar {
            display: block;
            text-align: center; 
            padding: 70px 0;  
             
     
    }
    }
    @media (max-width: 1240px) {
        nav a {
            font-size: 20px;
            gap: 1rem;
            padding: 1px;
        }
    }
